
div.image-div img {
    float: left;
    width: 600px;
}

p {
    color: black;
    float: left;
    font-family: 'Inconsolata';
    opacity: 1.0;
}

mark {
	/*opacity: 1.0;*/
	background: rgba(255,20,147, 0.8);
	color: white;
}

body {
	font-family: 'Inconsolata';
}

.imgtag img{
	height: 100%;
	opacity: 0.6;
	position: absolute;
	right: 0px;
}

.label {
	position: absolute;
	font-family: 'Inconsolata';
	background-color: rgba(255,127,80, 0.3);
	color: gray;
	top: 0px;
	left: 2px;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 2px;
}

.menu {
	margin-left: 20%;
	position:absolute;
}

#instructions {
	opacity: 1.0;
	background: red;
}

.desc {
	margin-left: 25%;
	font-size:13px;
	width: 400px;
	margin-top: -15px;
	opacity: 0.6;
	background: pink;
	padding: 20px;
}

.label:hover {
	opacity: 0.8;
	color: white;
	background: black;

}

.navigation{
	font-family: 'Inconsolata';
	color: gray;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 2px;
	opacity: 0.5;
}

.navigation:hover{
	opacity:1;

}

.tall-div {
	margin-top: 300px;
	height: 1000px;
}

.image-div {
    width: 1000px;
    height: 800px;
}

.text {
    margin-left: 650px;
    text-align: left;
    font-family: 'Inconsolata';
}
.text p {
    text-align: left;
    font-size: 16px;
}

a:hover, a:visited, a:link, a:active {
	color: red;
	opacity: 0.8;
	text-decoration: none;

}

.text2 {
    margin-left: 100px;
    text-align: left;
    width: 400px;
    font-family: 'Inconsolata';
}

#alt {
	padding-top: 450px;
	font-size: 10px;
	position: absolute;
}
h3 {
	margin-top: 0px;
	float: left;
	width: 100%;
	font-size : 50px;
	margin-bottom: 10px;
	color: pink;
}

h6 {
	margin-right: 50px;
	/*width: 100%;*/
	text-align: right;
	font-size: 15px;
	padding-bottom: 100px;
}

h1 {
	font-size: 100px;
	color: pink;
	margin-top: 10px;
	margin-bottom: 30px;
	margin-right: 50px;
	font-family: 'Helveltica', sans-serif;
	text-align: right;
	opacity: 0.4;
}
